<div>
  <div class="mypage-title-frame"><h3 class="mypage-title">プロフィール編集</h3></div>
</div>
<div class="container mypage-layout">
  <%= form_with model: @user, url: profile_path, method: :patch, class: "mypage-form", local: true do |f| %>
  <div class="row mypage-layout1">
    <div class="mypage-layout-left">
    <div class="mypage-layout3">
      <div class="personal-label">電話番号</div>
      <div class="personal-main"><%= f.text_field :tel, class: "mypage-form2" %></div>
    </div>
    <div class="mypage-layout3">
      <div class="personal-label">email</div>
      <div class="personal-main"><%= f.email_field :email, class: "mypage-form2" %></div>
    </div>
  </div>

   <div class="mypage-layout2">
    <div class="mypage-layout3">
      <div><p class="personal-label">プロフィール名</p></div>
      <div><%= f.text_field :profile_name %></div>
    </div>
    <div class="mypage-layout3">
      <div><p class="personal-label">プロフィール画像</p></div>
      <div><%= f.attachment_field :profile_image, class: "profile-form" %></div>
    </div>
    <div class="mypage-layout4">
      <div><p class="personal-label">自己紹介</p></div>
      <div><%= f.text_area :introduction, class: "profile-form2" %></div>
    </div>
   </div>
  </div>
  <div>
   <div class="mypage-title-frame"><h3 class="mypage-title">詳細プロフィール</h3></div>
  </div>
  <div class="row edit-introduction-box">
    <div class="profile-detail">
      <p class="personal-label">年齢:<%= f.text_field :age %></p>
    </div>
    <div class="profile-detail">
      <p class="personal-label">職業:<%= f.text_field :job %></p>
    </div>
    <div class="profile-detail">
      <p class="personal-label">出身:<%= f.text_field :from %></p>
    </div>
    <div class="profile-detail">
      <p class="personal-label">趣味:<%= f.text_field :hobby %></p>
    </div>
    <div class="profile-detail">
      <p class="personal-label">得意:<%= f.text_field :like %></p>
    </div>
    <div class="profile-detail">
      <p class="personal-label">苦手:<%= f.text_field :dislike %></p>
    </div>
  </div>
  <div class="mypage-btn"><%= f.submit "プロフィール更新" %></div>
  <% end %>
</div>