<div><h3 class="profile-show-heading">プロフィール</h3></div>
<div class="container">
  <div class="row profile-show-frame1">
    <div class="profile-show-frame2"><%= @user.profile_image %></div>
    <div class="profile-show-frame3">
      <div class="profile-show-name">
        <tr>
          <th>プロフィール名:</th>
          <td><%= @user.profile_name %></td>
        </tr>
      </div>
      <div class="profile-show-name">
       <tr>
          <th>introduction:</th>
          <td><%= @user.introduction %></td>
        </tr>
      </div>
    </div>
      <% if @user == current_user %>
       <div class="profile-show-edit-btn"><%= button_to "投稿記事作成", new_article_path, method: :get %></div>
       <div class="profile-show-edit-btn"><%= button_to "プロフィール編集", edit_profile_path, method: :get %></div>
      <% end %>
  </div>
  <div><h3 class="profile-show-heading">投稿記事一覧</h3></div>
  <div class="row">

    <% @articles.each do |article| %>
    <table>
    <tbody>
    <tr class="table-around-border">
      <td>
        <p class="col-md-8 profile-show-article-title">
          <%= link_to article.title, article_path(article) %>
        </p>
      </td>
      <div class="col-md-2">
        <td>いいねされた数：<%= article.favorites.count%></td>
        <td>コメント数：<%= article.post_comments.count %></td>
      </div>
　　<% if @user == current_user %>
　　  <td class="col-md-1">
　　    <div class="profile-show-form">
　　     <%= button_to "記事編集", edit_article_path(article), method: :get, local: true, class: "profile-show-btn" %>
　　    </div>
　　  </td>
　　  <td class="col-md-1">
　　    <div class="profile-show-form">
　　     <%= button_to "記事削除", article_path, method: :delete, local: true, class: "profile-show-btn" %>
　　    </div>
　　  </td>
　　<% end %>
    </tr>
    </tbody>
    </table>
    <% end %>

  </div>
</div>