<!DOCTYPE html>
<html>
  <head>
    <title>Tieita</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="background-color: #a9a9a9;">
      <div class="container">
        <div class="header-layout">
          <% if user_signed_in? %>
           <div class="header-box">logo</div>
           <div class="header-box">検索用タブ</div>
           <div class="header-box">作成例</div>
           <div class="header-box"><%= button_to "My page", profile_path(current_user) , method: :get %></div>
           <div class="header-box"><%= button_to "ログアウト", destroy_user_session_path, method: :delete %></div>
          <% else %>
           <div class="header-box">logo</div>
           <div class="header-box"><%= button_to "About", homes_about_path %></div><!--あとでリンク先変更-->
           <div class="header-box"><%= button_to "新規登録", new_user_registration_path, method: :get %></div>
           <div class="header-box"><%= button_to "ログイン", new_user_session_path, method: :get  %></div>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer style="background-color: #a9a9a9;">ちえ板</footer>
  </body>
</html>
