<!DOCTYPE html>
<html>
  <head>
    <title>Tieita</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container" style="background-color: #a9a9a9;">
        <div class="header-layout">
          <% if user_signed_in? %>
           <div class="header-box">logo</div>
           <div class="header-box">検索用タブ</div>
           <div class="header-box"><%= button_to "My page", homes_about_path %></div><!--あとでリンク先変更-->
           <div class="header-box">logout</div>
          <% else %>
           <div class="header-box">logo</div>
           <div class="header-box"><%= button_to "About", homes_about_path %></div><!--あとでリンク先変更-->
           <div class="header-box">新規登録</div>
           <div class="header-box">ログイン</div>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer style="background-color: #a9a9a9;">ちえ板</footer>
  </body>
</html>
