<div class="container mypage-layout">
  <%= form_with model: @user, url:users_path, local: true do |f| %>
  <div class="row">
  <div class="col mypage-layout1" style="background-color:#c0c0c0;">
    <%= f.attachment_field :profile_image %>
  </div>
  <div class="col mypage-layout2">
    <div class="mypage-layout3" style="background-color:#d3d3d3;">
      <div><p>プロフィール名</p></div>
      <div><%= f.text_field :profile_name %></div>
    </div>
    <div class="mypage-layout3" style="background-color:#f5f5f5;">
      <div><p>introduction</p></div>
      <div><%= f.text_area :introduction %></div>
    </div>
  </div>
  </div>
  <div class="row">
    <div><p>個人情報</p></div>
    <div class="personal-infomation-box">
      <div class="personal-label">電話番号</div>
      <div class="personal-main"><%= f.text_field :tel %></div>
    </div>
    <div class="personal-infomation-box">
      <div class="personal-label">email</div>
      <div class="personal-main"><%= f.email_field :email %></div>
    </div>
    <div class="personal-infomation-box">
      <div class="personal-label">パスワード</div>
      <div class="personal-main"><%= f.password_field :password %></div>
    </div>
    <div class="personal-infomation-box">
      <div class="personal-label"></div>
      <div class="personal-main"></div>
    </div>
  </div>
  <%= f.submit "プロフィール作成" %>
  <% end %>
</div>
<div class="container">
    <% @users.each do |user| %>
    <div class="row mypage-articles-index">
      <div><%= user.profile_image %></div>
      <div><%= user.article.title %></div>
      <div><%= button_to "編集" , edit_article_path %></div>
      <div><%= button_to "削除" , article_path, method: :delete %></div>
    </div>
    <% end %>
</div>