<div>
  <div class="mypage-title-frame"><h3 class="mypage-title">プロフィール編集</h3></div>
</div>
<div class="container mypage-layout">
  <%= form_with model: @user, url: profile_path, method: :patch, class: "mypage-form", local: true do |f| %>
  <div class="row mypage-layout1">
    <div class="mypage-layout-left">
    <div class="mypage-layout3">
      <div class="personal-label">電話番号</div>
      <div class="personal-main"><%= f.text_field :tel, class: "mypage-form2" %></div>
    </div>
    <div class="mypage-layout3">
      <div class="personal-label">email</div>
      <div class="personal-main"><%= f.email_field :email, class: "mypage-form2" %></div>
    </div>
    <div class="mypage-layout3">
      <div class="personal-label">パスワード</div>
      <div class="personal-main"><%= f.password_field :password, class: "mypage-form2" %></div>
    </div>
  </div>

   <div class="mypage-layout2">
    <div class="mypage-layout3" style="background-color:#d3d3d3;">
      <div><p class="personal-label">プロフィール名</p></div>
      <div><%= f.text_field :profile_name %></div>
    </div>
    <div class="mypage-layout3" style="background-color:#d3d3d3;">
      <div><p class="personal-label">プロフィール画像</p></div>
      <div><%= f.file_field :profile_image, class: "profile-form" %></div>
    </div>
    <div class="mypage-layout4" style="background-color:#f5f5f5;">
      <div><p class="personal-label">introduction</p></div>
      <div><%= f.text_area :introduction, class: "profile-form2" %></div>
    </div>
    <div class="mypage-btn"><%= f.submit "プロフィール作成"%></div>
    </div>

  </div>
  <% end %>
</div>
<div>
   <div class="mypage-title-frame"><h3 class="mypage-title">投稿記事一覧</h3></div>
</div>
<div class="container">
    <% @articles.each do |article| %>
    <div class="row mypage-articles-index">
      <div>
        <div class="image-layout"><%= image_tag @user.profile_image, class: "image-layout" %></div>
        <div><%= @user.profile_name %></div>
      </div>
      <div class="col-md-5"><%= article.title %></div>
      <div class="mypage-layout-button"><%= button_to "編集" , edit_article_path %></div>
      <div class="mypage-layout-button"><%= button_to "削除" , article_path, method: :delete %></div>
    </div>
    <% end %>
</div>