<div><h3 class="profile-show-heading">プロフィール</h3></div>
<div class="container">
  <div class="row profile-show-frame1">
    <div class="profile-show-frame2"><%= @user.profile_image %></div>
    <div class="profile-show-frame3">
      <div class="profile-show-name">
        <tr>
          <th>プロフィール名:</th>
          <td><%= @user.profile_name %></td>
        </tr>
      </div>
      <div class="profile-show-name">
       <tr>
          <th>introduction:</th>
          <td><%= @user.introduction %></td>
        </tr>
      </div>
    </div>
      <% if @user = current_user %>
       <div class="profile-show-edit-btn"><%= button_to "プロフィール編集", edit_profile_path, method: :get %></div>
      <% end %>
  </div>
  <div><h3 class="profile-show-heading">投稿記事一覧</h3></div>
  <div class="row">
    <% @user.articles.each do |article| %>
    <div class="profile-show-articles">
    <tr>
      <td><p class="profile-show-article-title"><%= article.title %></p></td>
　　<% if @user = current_user %>
　　  <td>
　　    <div class="profile-show-form">
　　     <%= button_to "記事編集", edit_article_path, method: :get, local: true, class: "profile-show-btn" %>
　　    </div>
　　  </td>
　　  <td>
　　    <div class="profile-show-form">
　　     <%= button_to "記事削除", article_path, method: :delete, local: true, class: "profile-show-btn" %>
　　    </div>
　　  </td>
　　<% end %>
    </tr>
    <% end %>
    </div>
  </div>
</div>