<div class="container article-new-frame1">
  <%= form_with model: @article, url: articles_path, method: :post, local: true do |f| %>
  <div class="article-new-title">

  </div>
  <div class="row article-new-frame2">
    <div class="article-new-frame3" style="background-color:#dcdcdc;">

    </div>
    <div class="article-new-frame4">
      <div class="article-new-frame5" style="background-color:#d3d3d3;">
       <p class="label-layout-new">タイトル</p>
       <%= f.text_area :title, placeholder: "美味しいカレーの作り方", class: "form-label-title" %>
      </div>
      <div class="article-new-frame5" style="background-color:#c0c0c0;">
        <p class="label-layout-new">シチュエーション</p>
        <%= f.text_area :situation,placeholder: "お家で本格カレーを作る時に役立ちます", class: "form-label-situation" %>
      </div>
    </div>
  </div>
  <div class="row article-new-frame6">
    <div class="make-article-procedure" style="background-color:#f5f5f5;">

      <div class="article-contents">
        <div class="article-image"><%= f.attachment_field :image1 %></div>
        <div class="article-text-field" style="background-color:#ffa500;">
          <%= f.text_area :description1, placeholder: "野菜を切る", class: "form-label" %>
        </div>
      </div>
      <div class="article-contents">
        <div class="article-image"><%= f.attachment_field :image2 %></div>
        <div class="article-text-field" style="background-color:#ffa500;">
          <%= f.text_area :description2, placeholder: "肉を炒める", class: "form-label" %>
        </div>
      </div>
      <div class="article-contents">
        <div class="article-image"><%= f.attachment_field :image3 %></div>
        <div class="article-text-field" style="background-color:#ffa500;">
          <%= f.text_area :description3, placeholder: "しっかり煮込む", class: "form-label" %>
        </div>
      </div>
      <div class="article-contents">
        <div class="article-image"><%= f.attachment_field :image4 %></div>
        <div class="article-text-field" style="background-color:#ffa500;">
          <%= f.text_area :description4, placeholder: "おしゃれに盛り付けて完成！", class: "form-label" %>
        </div>
      </div>

    </div>
  </div>
  <%= f.submit "記事を投稿", class: "form-button"  %>
  <% end %>
</div>