<div class="container article-new-frame1">
  <%= form_with model: @article, url: article_path, method: :patch, local: true do |f| %>
  <div class="row new-article-layout1">
    <div class="col-md-4 box0-text">
      <p class="label-layout-new">タイトル：</p>
      <p class="label-layout-new">使う場面：</p>
    </div>
    <div class="col-md-8">
      <%= f.text_area :title, placeholder: "（例）美味しいカレーの作り方", class: "form-label-title" %>
      <%= f.text_area :situation,placeholder: "（例）お家で本格カレーを作る時に役立ちます", class: "form-label-situation" %>
    </div>
  </div>
  <h3 class="box1-title">< 手順 ></h3>
  <div class="row box1">
    <div class="box1-main">
      <div><h3  class="box1-font-size">①</h3></div>
      <div>
        <div><%= f.attachment_field :article_image1 %></div>
        <div><%= f.text_area :description1, placeholder: "（例）野菜を切る", class: "form-label" %></div>
      </div>
    </div>
  </div>
  <div class="row box1">
    <div class="box1-main">
      <div><h3  class="box1-font-size">②</h3></div>
      <div>
        <div><%= f.attachment_field :article_image2 %></div>
        <div><%= f.text_area :description2, placeholder: "（例）肉を炒める", class: "form-label" %></div>
      </div>
    </div>
  </div>
  <div class="row box1">
    <div class="box1-main">
      <div><h3  class="box1-font-size">③</h3></div>
      <div>
        <div><%= f.attachment_field :article_image3 %></div>
        <div><%= f.text_area :description3, placeholder: "（例）じっくり煮込む", class: "form-label" %></div>
      </div>
    </div>
  </div>
  <div class="row box1">
    <div class="box1-main">
      <div><h3  class="box1-font-size">④</h3></div>
      <div>
        <div><%= f.attachment_field :article_image4 %></div>
        <div><%= f.text_area :description4, placeholder: "（例）皿におしゃれに盛り付けて完成", class: "form-label" %></div>
      </div>
    </div>
  </div>
  <div class="article-new-btn"><%= f.submit "記事を修正" %></div>
  <% end %>
</div>
