<div class="container">
  <div class="row article-index-layout">
    <div class="col-md-8 mx-auto" style="background-color:#ffdab9">
      <div class="container slider image-slider">
      <div id="theTarget">
        <div class="articles-top-image1"></div>
        <div class="articles-top-image2"></div>
        <div class="articles-top-image3"></div>
        <div class="articles-top-image4"></div>
        <div class="articles-top-image5"></div>
      </div>
     </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">

      <!-- MainContent(left)-->
      <div class="col-md-2 frame">
         <div class="article-sidebar">
           <% if user_signed_in? %>
             <div>
               <div class="title-layout" style="background-color:#ffffff">
                  <h6 class="col mx-auto">メニュー</h6>
               </div>
               <div>・<%= link_to "ランキング", rankings_index_path %></div>
               <div>・<%= link_to "Good Title", scores_index_path %></div>
              </div>
          <div class="likes-article-all" style="font-size:15px;">
            <h6>（お気に入り記事）</h6>
            <% @likes.each do |like| %>
              <div><%= link_to like.article.title, article_path(like.article.id) %></div>
            <% end %>
          </div>
            <% else %>
              <p class="likes-article-all">
               メニュー機能の利用には</br>
              <%= link_to "新規登録", new_user_registration_path %>
               が必要です。
              </p>
            <% end %>
         </div>
      </div>

      <!-- MainContent(center)-->
      <div class="col-md-8 frame">
        <div class="article-main" id="sort-btn">
          <%= render 'searches/sort', article: @article, articles: @articles %>
        </div>
      </div>

      <!-- MainContent(right)-->
      <div class="col-md-2 frame">
        <div class="article-sidebar">
          <% if user_signed_in? %>
            <div>
              <div>
                <h6 class="col mx-auto title-layout">メニュー</h6>
              </div>
              <div>・<%= link_to "ランキング", rankings_index_path %></div>
              <div>・<%= link_to "Good Title", scores_index_path %></div>
            </div>
            <div style="font-size:15px;">
              <div class="title-layout">
                <h6 style="line-height:40px;">お気に入り記事</h6>
              </div>
              <% @likes.each do |like| %>
                <div><%= link_to like.article.title, article_path(like.article.id) %></div>
              <% end %>
            </div>
          <% else %>
            <p class="likes-article-all">
              メニュー機能の利用には</br>
              <%= link_to "新規登録", new_user_registration_path %>
              が必要です。
            </p>
          <% end %>
        </div>
      </div>

    </div>
</div>
