
<div class="container article-new-frame1">

  <div class="row article-new-title">
    『<%= @article.title %>』
  </div>
  <span class="sentiment-score">本文の感情分析スコア[<%= @article.score %>]</span>
  <div class="row article-new-frame2">
    <div class="article-situation-layout" style="background-color:#ffffff;">
      <span class="article-situation-text">こんな場面で役立つ知識です</span>
    </div>
    <div class="article-situation-layout2" style="background-color:#ffffff;">
      <%= @article.situation %>
    </div>
  </div>
  <div class="row article-new-frame6">
    <div class="make-article-procedure" style="background-color:#f5f5f5;">

      <div class="article-contents">
        <div class="article-image">
          <%= attachment_image_tag @article, :article_image1, :fill, 250, 160, format: 'jpeg', class: "profile-image-layout" %>
        </div>
        <div class="article-text-field" >
          <div class="article-text"><%= @article.description1 %></div>
        </div>
      </div>

      <div class="article-contents">
        <div class="article-image">
          <%= attachment_image_tag @article, :article_image1, :fill, 250, 160, format: 'jpeg', class: "profile-image-layout" %>
        </div>
        <div class="article-text-field" >
          <div class="article-text"><%= @article.description2 %></div>
        </div>
      </div>

      <div class="article-contents">
        <div class="article-image">
          <%= attachment_image_tag @article, :article_image1, :fill, 250, 160, format: 'jpeg', class: "profile-image-layout" %>
        </div>
        <div class="article-text-field" >
          <div class="article-text"><%= @article.description3 %></div>
        </div>
      </div>

      <div class="article-contents">
        <div class="article-image">
          <%= attachment_image_tag @article, :article_image1, :fill, 250, 160, format: 'jpeg', class: "profile-image-layout" %>
        </div>
        <div class="article-text-field" >
          <div class="article-text"><%= @article.description4 %></div>
        </div>
      </div>

    </div>
    <% if @article.user.id != current_user.id %>
    <div class="article-show-favorite-frame">
      <p>この記事は役に立ちましたか？</p>
      <div class="article-show-favorite-text">
        <%= render 'articles/favorite', article: @article %>
      </div>
    </div>
    <div>
     <div class="article-likes-btn">
        <%= render "likes/like", article: @article %>
     </div>
    </div>
    <% else %>
    <div class="article-show-favorite-frame">
      <p>この記事には</p>
      <div class="article-show-favorite-text" >
        <%= @article.favorites.count %>
      </div>
      <p>件のユーザがいいねを付けています。</p>
    </div>
    <% end %>
  </div>

　<div>
　  <h3>この記事を書いたユーザ</h3>
  <div class="row article-new-frame5">
    <div class=" col-md-2 article-new-frame3" style="background-color:#ffffff;">
      <%= attachment_image_tag @article.user, :profile_image, :fill, 130, 120, format: 'jpeg', class: "profile-image-layout" %>
      <div><%= link_to @article.user.profile_name, profile_path(@article.user.id), class: "profile-image-layout" %></div>
    </div>
    <div class="col-md-7 introduction-text" style="background-color:#ffffff;">
      <table>
        <tr>
          <th>年齢：</th>
          <td><%= @article.user.age %></td>
        </tr>
        <tr>
          <th>職業：</th>
          <td><%= @article.user.job %></td>
        </tr>
        <tr>
          <th>趣味：</th>
          <td><%= @article.user.hobby %></td>
        </tr>
      </table>
      <table>
        <tr>
          <th>自己紹介：</th>
          <td><%= @article.user.introduction %></td>
        </tr>
      </table>
    </div>
  </div>
  </div>

  <div id="comment-form-layout">
    <%= render 'post_comments/comment', article: @article, post_comment: @post_comment, post_comments: @post_comments %>
  </div>


</div>