
<div class="container article-new-frame1">

  <div class="article-new-title">
    『<%= @article.title %>』
  </div>
  <div class="row article-new-frame2">
    <div class="article-new-frame4">
      <div class="article-new-frame5">
        <div>
         <tr>
          <th>シチュエーション：</th>
          <td><%= @article.situation %></td>
        </tr>
       </div>
      </div>
    </div>
  </div>

  <div class="row article-new-frame6">
    <div class="make-article-procedure" style="background-color:#f5f5f5;">

      <div class="article-contents">
        <div class="article-image">
          <%= attachment_image_tag @article, :article_image1, :fill, 250, 160, format: 'jpeg', class: "profile-image-layout" %>
        </div>
        <div class="article-text-field" >
          <div class="article-text"><%= @article.description1 %></div>
        </div>
      </div>

      <div class="article-contents">
        <div class="article-image">
          <%= attachment_image_tag @article, :article_image1, :fill, 250, 160, format: 'jpeg', class: "profile-image-layout" %>
        </div>
        <div class="article-text-field" >
          <div class="article-text"><%= @article.description2 %></div>
        </div>
      </div>

      <div class="article-contents">
        <div class="article-image">
          <%= attachment_image_tag @article, :article_image1, :fill, 250, 160, format: 'jpeg', class: "profile-image-layout" %>
        </div>
        <div class="article-text-field" >
          <div class="article-text"><%= @article.description3 %></div>
        </div>
      </div>

      <div class="article-contents">
        <div class="article-image">
          <%= attachment_image_tag @article, :article_image1, :fill, 250, 160, format: 'jpeg', class: "profile-image-layout" %>
        </div>
        <div class="article-text-field" >
          <div class="article-text"><%= @article.description4 %></div>
        </div>
      </div>

    </div>
    <% if @user.id != current_user.id %>
    <div class="article-show-favorite-frame">
      <p>この記事は役に立ちましたか？</p>
      <div class="article-show-favorite-text">
        <%= render 'articles/favorite', article: @article %>
      </div>
    </div>
    <div>
     <div class="article-likes-btn">
        <%= render "likes/like", article: @article %>
     </div>
    </div>
    <% else %>
    <div class="article-show-favorite-frame">
      <p>この記事には</p>
      <div class="article-show-favorite-text" >
        <%= @article.favorites.count %>
      </div>
      <p>件のユーザがいいねを付けています。</p>
    </div>
    <% end %>
  </div>

　<div>
　  <h3>この記事を書いたユーザ</h3>
  <div class="row article-new-frame5">
    <div class=" col-md-2 article-new-frame3">
      <%= attachment_image_tag @article.user, :profile_image, :fill, 130, 120, format: 'jpeg', class: "profile-image-layout" %>
      <div><%= link_to @article.user.profile_name, profile_path(@article.user.id), class: "profile-image-layout" %></div>
    </div>
    <div class="col-md-7 introduction-text">
      <tr>
        <th>introduction：</th>
        <td><%= @article.user.introduction %></td>
      </tr>
    </div>
  </div>
  </div>

  <div class="article-new-frame7">
    <div class="comment-title"><h3>コメント</h3></div>
    <div id="comment-btn">
      <%= render 'post_comments/comment', article: @article, post_comment: @post_comment %>
    </div>
  </div>
  <div class="row article-new-frame8">
    <div class="article-show-frame9">

      <div class="article-new-comment-design">
        <h3>コメント一覧</h3>
        <h3>（<%= @post_comments.count %>件）</h3>
      </div>
      <% @post_comments.each do |post_comment|%>
      <div class="article-new-comment-design2">
        <div>
          <div><%#= post_comment.user.profile_image %></div>
          <div><%= link_to post_comment.user.profile_name, profile_path(post_comment.user.id) %></div>
        </div>
        <div>
          <div><p><%=safe_join(post_comment.comment.split("\n"),tag(:br))%></p></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>



</div>