
<div class="container article-new-frame1">

  <div class="article-new-title">『<%= @article.title %>』</div>
  <div class="row article-new-frame2">
    <div class="article-new-frame4">
      <div class="article-new-frame5">
        <div>
         <tr>
          <th>シチュエーション：</th>
          <td><%= @article.situation %></td>
        </tr>
       </div>
      </div>
    </div>
  </div>
  <div class="row article-new-frame6">
    <div class="make-article-procedure" style="background-color:#f5f5f5;">

      <div class="article-contents">
        <div class="article-image"><%= @article.article_image1 %></div>
        <div class="article-text-field" >
          <div class="article-text"><%= @article.description1 %></div>
        </div>
      </div>

      <div class="article-contents">
        <div class="article-image"><%= @article.article_image2 %></div>
        <div class="article-text-field" >
          <div class="article-text"><%= @article.description2 %></div>
        </div>
      </div>

      <div class="article-contents">
        <div class="article-image"><%= @article.article_image3 %></div>
        <div class="article-text-field" >
          <div class="article-text"><%= @article.description3 %></div>
        </div>
      </div>

      <div class="article-contents">
        <div class="article-image"><%= @article.article_image4 %></div>
        <div class="article-text-field" >
          <div class="article-text"><%= @article.description4 %></div>
        </div>
      </div>

    </div>

    <div class="article-show-favorite-frame">
      <p>この記事は役に立ちましたか？</p>
      <div class="article-show-favorite-text">
        <% if @article.favorited_by?(current_user) %>
          <%= link_to article_favorites_path(@article), method: :delete do %>
             ★いいね（<%= @article.favorites.count %>件のユーザが役に立ったと回答しています）
          <% end %>
        <% else %>
          <%= link_to article_favorites_path(@article), method: :post do %>
             ☆いいね（<%= @article.favorites.count %>件のユーザが役に立ったと回答しています）
          <% end %>
        <% end %>
      </div>
    </div>

    <div>
     <div class="article-likes-btn" id="like-<%= @article.id %>">
        <%= render "likes/like", article: @article %>
     </div>
    </div>

  </div>

　<div>
　  <h3>この記事を書いたユーザ</h3>
  <div class="row article-new-frame5">
    <div class=" col-md-3 article-new-frame3">
      <!--あとでarticle用imageを挿入-->
      <%= image_tag @article.user.profile_image %>
      <%= @article.user.profile_name %>
    </div>
    <div class="col-md-7 introduction-text">
      <tr>
        <th>introduction：</th>
        <td><%= @article.user.introduction %></td>
      </tr>
    </div>
  </div>
  </div>

  <div class="article-new-frame7">
    <div class="comment-title"><h3>コメント</h3></div>
    <div>
      <%= form_with(model:[@article, @post_comment], local: true) do |f| %>
        <div>
          <div class="comment-field1"><%= f.text_area :comment, class: "comment-form" %></div>
        </div>
        <div class="comment-form-btn"><%= f.submit "コメント投稿" %></div>
      <% end %>
    </div>
  </div>
  <div class="row article-new-frame8">
    <div class="article-show-frame9">

      <div class="article-new-comment-design">
        <h3>コメント一覧</h3>
        <h3>（<%= @post_comments.count %>件）</h3>
      </div>
      <% @post_comments.each do |post_comment|%>
      <div class="article-new-comment-design2">
        <div>
          <div><%= @user.profile_image %></div>
          <div><%= @user.profile_name %></div>
        </div>
        <div>
          <div><p><%=safe_join(post_comment.comment.split("\n"),tag(:br))%></p></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>



</div>