<%= form_with(model:[article, post_comment],data:{remote:true, "turbolinks"=>false}) do |f| %>
<div class="article-new-frame7">
    <div class="comment-title"><h3>コメント</h3></div>
    <div id="comment-btn">
      <div>
      <div class="comment-field1"><%= f.text_area :comment, class: "comment-form" %></div>
      </div>
      <div class="comment-form-btn"><%= f.submit "コメント投稿" %></div>
    </div>
  </div>
  <div class="row article-new-frame8">
    <div class="article-show-frame9">

      <div class="article-new-comment-design">
        <h3>コメント一覧</h3>
        <h3>（<%= post_comments.count %>件）</h3>
      </div>
      <% post_comments.each do |post_comment|%>
      <div class="article-new-comment-design2">
        <div>
          <div><%= attachment_image_tag post_comment.user, :profile_image, :fill, 130, 120, format: 'jpeg', class: "profile-image-layout" %></div>
          <div><%= link_to post_comment.user.profile_name, profile_path(post_comment.user.id) %></div>
        </div>
        <div class="comment-space">
          <div><p><%= safe_join(post_comment.comment.split("\n"),tag(:br)) %></p></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>