<div><h2 class="login_title">ログイン画面</h2></div>

<%= form_with model: @user, url: user_session_path, local:true do |f| %>
<table class="login_table">
  <tr>
    <th class="login-item">enail</th>
  </tr>
  <tr>
    <td><%= f.email_field :email, placeholder: "(例)tarou@gmail.com", autofocus: true, autocomplete: "email", class: "registration-new-form" %></td>
  </tr>
</table>
<table class="login_table">
  <tr><th class="login-item">password</th></tr>
  <tr><td><%= f.password_field :password, autocomplete: "current-password", class: "registration-new-form" %></td></tr>
</table>
  <% if devise_mapping.rememberable? %>
    <div class="login-table">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
   <div class="login-table">
      <div><%= f.submit "Log in" %></div>
      <div><%= render "devise/shared/links" %></div>
   </div>
<% end %>
