<div class="container">
  <div class="row">
  <div class="col-md-10 mx-auto article-main">
      <h3>検索結果</h3>
      <table class="search-table">
        <thead>
          <tr class="table-around-border">
             <th class="col-md-2">投稿者</th>
             <th class="col-md-4">タイトル</th>
             <th class="col-md-4">シチュエーション</th>
         </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
          <% if @articles != nil %>
         <tr class="table-around-border">
             <td class="col ranking-article-layout">
               <%= attachment_image_tag article.user, :profile_image, :fill, 120, 80, format: 'jpeg' %>
               <%= link_to article.user.profile_name, profile_path(article.user.id) %>
             </td>
             <td class="col-md-4"><%= link_to article.title, article_path(article) %></td>
             <td class="col-md-4"><%= article.situation%></td>
             <td class="col-md-4">いいね❤️<%= article.favorites.count %></td>
         </tr>

         <% else %>
          <tr>
            <td class="col-md-10">投稿データはありません</td>
          </tr>
         <% end %>
         <% end %>
        </tbody>
      </table>
    </div>
    </div>

</div>
