<!DOCTYPE html>
<html>
  <head>
    <title>Tieita</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <!--以下、flash message用のコード-->
    <% if flash.any? %>
      <script type="text/javascript">
        <% flash.each do |key, value| %>
          <% key = "success" if key == "notice" %>
          <% key = "error" if key == "alert" %>
          toastr['<%= key %>']('<%= value %>');
        <% end %>
      </script>
    <% end %>

    <%= yield %>

    <footer style="background-color: #a9a9a9;">ちえ板</footer>
  </body>
</html>
