<!DOCTYPE html>
<html>
  <head>
    <title>Tieita</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <div>
        <div class="header-layout"  style="background-color: #ffdab9;">
          <% if user_signed_in? %>
           <div class="col-md-2 header-box">
             <%= link_to "Tieita", articles_path %>
           </div>
           <div class="col-md-5"></div>
           <div class="col-md-1 header-box">
              <i class="fas fa-sign-out-alt"><%= link_to "My page", profile_path(current_user) , method: :get %></i>
            </div>
           <div class="col-md-1 header-box">
             <i class="fas fa-sign-out-alt"> <%= link_to "logout", destroy_user_session_path, method: :delete %></i>
           </div>
          <% else %>
           <div class="col-md-3 header-box">
             <%= link_to "Tieita", articles_path %>
           </div>
           <div class="col-md-5"></div>
           <div class="col-md-1 header-box"><%= button_to "About", homes_about_path %></div>
           <div class="col-md-1 header-box">
             <%= link_to new_user_registration_path do %>
               <i class="fas fa-user-plus"></i>
             <% end %>
            </div>
           <div class="col-md-1 header-box">
             <%= link_to new_user_session_path do %>
               <i class="fas fa-sign-in-alt" size:"5"></i>
             <% end %>
           </div>
          <% end %>
        </div>
        <div class="header-layout-second" style="background-color: #a9a9a9;">
          <div class="col-md-12">
            <%= form_with url:search_path, method: :get, local: true do |f| %>
               <div class="header-search-field">
                 <%= f.text_field :keyword ,placeholder: "キーワード入力", value: @keyword, class: "header-search-form" %>
                 <%= f.submit "検索", class: "header-search-btn"%>
               </div>
             <% end %>
          </div>
        </div>
      </div>
    </header>
    <!--以下、flash message用のコード-->
    <% if flash.any? %>
      <script type="text/javascript">
        <% flash.each do |key, value| %>
          <% key = "success" if key == "notice" %>
          <% key = "error" if key == "alert" %>
          toastr['<%= key %>']('<%= value %>');
        <% end %>
      </script>
    <% end %>

    <%= yield %>

    <footer style="background-color: #a9a9a9;">ちえ板</footer>
  </body>
</html>
